// Archivo principal de SCSS
@import './variables';
@import './reset';
@import './typography';
@import './components';
@import './layout';
@import './animations';
@import './responsive';

body {
  font-family: 'Poppins', sans-serif;
  color: $text-color;
  background-color: $bg-color;
  line-height: 1.6;
}
